body {
  margin-top: 0%;
}
#maincontainer {
  max-width: 1024px;
  margin: 0 auto;
  background-color: #f3f3f3;
  padding-top: 48px;
}
#bigbox {
  background-color: #e4e4e4;
  border-radius: 16px;
  margin: 0px 75px;
  padding: 0px;
  height: 459px;
}
#bigtext {
  padding-top: 87px;
  text-align: center;
  font-size: 49px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgba(67, 66, 67);
}
#smalltext {
  padding-top: 28px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  color: rgba(73, 74, 75);
}
#getstarted {
  margin: 33px auto;
  width: 170px;
  color: #fbfdfe;
  background-color: #777878;
  padding: 10px 15px;
  text-align: center;
  border-radius: 8px;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 1px 1px 1px black;
  border: 1px solid #606161;
}
#about {
  margin-top: 88px;
  margin-left: 76px;
  font-size: 42px;
  color: #414041;
  font-family: sans-serif;
  font-weight: 750;
}
#aboutmsg {
  margin: 45px 76px;
  font-family: arial, sans-serif;
  font-size: 21px;
  font-weight: normal;
  letter-spacing: 1.2px;
  word-spacing: 4.5px;
  color: #1a1c1a;
}
#features {
  margin-top: 108px;
  margin-left: 76px;
  font-size: 42px;
  color: #414041;
  font-family: sans-serif;
  font-weight: 750;
}
#boxcontainer {
  margin-top: 40px;
  margin-left: 76px;
  margin-right: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.smallbox {
  background-color: #ffffff;
  width: 32.11%;
  height: 265px;
  border-radius: 5px;
  text-align: center;
}

#focustools {
  margin-right: 1.83%;
}

#cleandesign {
  margin-right: 1.83%;
}
#ecofriendly {
}
.vsmallbox {
  margin: 32px auto;
  width: 65px;
  height: 65px;
  background-color: #bebfbf;
  border: 1px solid #b3b2b2;
  border-radius: 5px;
}
.smallboxheader {
  font-size: 27px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  padding: 50px 0px;
  font-weight: 480;
  text-transform: capitalize;
  color: #070707;
}
.smallboxtxt {
  font-size: 21px;
  text-align: center;
  padding: 10px 20px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 310;
}
#footer1 {
  margin: 113px auto 0px;
  padding-bottom: 113px;
  width: 400px;
  text-align: center;
  font-size: 21px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 350;
}
#footer2 {
  background-color: #ffffff;
  max-width: 1024px;
  margin: 0px auto;
  text-align: center;
  word-spacing: 60px;
  padding: 40px 0px;
  font-size: 21px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 350;
}
